ion-card {
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  transition: transform 0.2s ease-in-out;
  
  &:hover {
    transform: scale(1.05);
  }
}

ion-card-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #ffcb05;
}

ion-toolbar {
  --background: #dc0a2d;
  color: white;
}

ion-content {
  --background: #f6f6f6;
}
